/*@font-face {
    font-family: Maghony;
    src: url("fonts/Maghony.ttf");
}*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&display=swap');

body {
    font-family: 'Cormorant Infant', serif;
}
.main-photo {
    background: url("images/3.jpeg") no-repeat transparent;
    background-size: cover;

}

.second {
    padding-bottom: 50px;
}


/* работа с текстом */

.nav-word {
    color: #f7fafc!important;
    font-size: 17px;
    font-weight: 800;
    font-family: 'Cormorant SC', serif;
}


.about {
    padding-top: 600px;
    padding-bottom: 400px;

}

.c-name {
    margin-bottom: 0px;
    font-family: 'Cormorant SC', serif;
    font-size: 40px;
    color: #f7fafc;
    font-weight: 900;
}

.name {
    font-size: 70px;
    color: #f7fafc;
    font-family: 'Cormorant SC', serif;
    font-weight: 900;
}

.a-name {
    color: #f7fafc;
    font-weight: 400;
}

.head-about-me {
    font-weight: 700;
    text-align: center;
    padding-top: 50px;
    font-size: 70px;
}

.about-me {

}

.photo {
    float: right;
    border-radius: 90px;
}
.text-container {
    padding-left: 600px;
    width: 400px;
}

/* Блок с Услугами */

.icon {
    border-radius: 60px;
}

.orders-fluid {
    background: url("images/11.jpg") no-repeat transparent;
}
.orders {
    padding-top: 250px;
    padding-left: 150px;
    padding-bottom: 300px;
}
.p-orders {
    color: #f7fafc;
    font-size: 20px;
}
.div-orders {
    text-align: center;
}
